@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.grid-area-1 {
  grid-area: 1 / 1;
}

.primary-bg {
  background-color: var(--primary);
  border-color: var(--primary);
}

.primary-bg:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  opacity: 75%;
}

.btn-primary {
  @apply primary-bg;
}

.hero {
  @apply place-items-start;
  @apply justify-center
}

#sidebar-wrapper {
  transition: width 0.125s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}